{% extends "layout.html" %}

{% macro lastScreen() %}
THIS IS THE END
{% endmacro %}

{% macro introPanel(text) %}
<p>{{text}}</p>
<p><button class="game__ready-button">I'm ready</button></p>
{% endmacro %}

{% macro resultPanel(text, slug) %}
<h4>TIME</h4>`,
<p><button class="retry-button">Retry</button></p>,
<p><i>pretty results table TKTK</i></p>,
<p><a href="#{{slug}}">Next</a></p>`,
{% endmacro %}

{% macro comparison() %}
<div class="level__comparison">
THIS SHOWS THE COMPASION DATA
</div>
{% endmacro %}

{% macro replayButton(slug, label) %}
<button name="replay-level" value="{{ slug }}">{{ label }}</button>
{% endmacro %}

{% macro nextButton(name, num, src) %}
<button class="next-level-button" name="next-level">
  <img src="{{ src }}" alt="">
  <p>Next up, level {{ num }}: {{ name }}</p>
  <span class="next-level-button__target">I'm ready</span>
</button>
{% endmacro%}

{% macro statePanel(slug, state) %}
<div class="level__state level__state--{{slug}}" data-state="{{ state }}">
{{ caller() }}
</div>
{% endmacro %}

{% macro countdown(slug, intro) %}
  {% call statePanel(slug, "countdown") %}
  <button class="countdown-status game__race-button" name="stopwatch-stop">WAIT</button>
  {% endcall %}
{% endmacro %}

{% macro falseStart(slug) %}
  {% call statePanel(slug, "false-start") %}
  <p>False start</p>
  {{ replayButton(slug, "Try again") }}
  {% endcall %}
{% endmacro %}

{% macro normalStart(slug) %}
  {% call statePanel(slug, "normal-start") %}
  <p class="result-summary"></p>
  {% endcall %}
{% endmacro %}

{% macro noStart(slug) %}
  {% call statePanel(slug, "no-start") %}
  <p>What happened, you didn't leave blocks?</p>
  {{ replayButton(slug, "Restart") }}
  {% endcall %}
{% endmacro %}

{% macro clock(slug, d) %}
<div class="clock">{{ d }}</div>
<div class="clock clock--{{ slug }}" data-clock="{{ slug }}">0.00</div>
{% endmacro %}

{% block article_body %}

<div class="title-container">
  <h1>on your marks</h1>

  <div class="o-typography-lead standfirst">
    Can you react faster than an Olympic athlete?
  </div>

  <!-- <link rel="stylesheet" href="https://origami-build.ft.com/v2/bundles/css?modules=o-share@^2">

  <div data-o-component="o-share"
      class="o-share o-share--muted"
      data-o-share-links="twitter facebook"
      data-o-share-url="{{ url }}"
      data-o-share-title="{{ socialHeadline | default(headline, true) | plain }}"
      data-o-share-summary="{{ socialSummary | default(summary, true) | plain }}"
      data-o-share-relatedTwitterAccounts="@ft">
  </div>

  <script async>queue('https://origami-build.ft.com/v2/bundles/js?modules=o-share@^2', null, true)</script> -->
</div>

<div class="panel-container">
  <div class="icon-container">
    <i class="fa fa-volume-up fa-2x"></i>
  </div>
  <p>
    Make sure your device sound is on.
  </p>

  <div class="icon-container">
    <i class="fa fa-bullhorn fa-2x"></i>
  </div>

  <p>
    Listen for the starting signal – be careful not to false start!
  </p>

  <div class="icon-container">
    <i class="fa fa-circle fa-2x"></i>
  </div>

  <p>
    Tap or click the button to start the race.
  </p>

  <div class="intro-panel">
    <!-- <ul class="level-icons">
    {% for level in levels %}
      <li><i class="{{ level.slug }}"></i></li>
    {% endfor %}
    </ul> -->

    <span class="o-typography-flyline">Level 1</span>
    <h2>Track cycling</h2>

    <img src="http://placehold.it/620x349" style="width: 100%">

    <div class="play-button-wrapper">
      <button name="first-level">Play as a man</button>
      <button name="first-level">Play as a woman</button>
      <span class="loading-indicator">Loading...</span>
      <button class="play-game-button">Play game</button>
    </div>
  </div>
</div>

<footer class="o-typography-footer">
  <p><small><a href="http://www.ft.com/servicestools/help/copyright" data-trackable="link-copyright" class="o-typography-link">Copyright</a>
  The Financial Times Limited 2016. All rights reserved. You may share using our article tools. Please don't cut articles from FT.com and redistribute by email or post to the web. Icons by Diego Naive via Noun Project.</small></p>
</footer>

{% for level in levels %}
  <div class="level" data-level="{{ level.slug }}">
    {{ clock(level.slug, level.clockname) }}
    <div class="level__states">
      {{ countdown(level.slug, level.intro) }}
      <div class="level__complete">
        {{ normalStart(level.slug) }}
        {{ falseStart(level.slug) }}
        {{ noStart(level.slug) }}
        {{ comparison(level.slug) }}
        {% if not loop.last %}
        {{ nextButton(levels[loop.index0 + 1].sportname, loop.index + 1, level.nextimage, levels[loop.index0 + 1].slug) }}
        {% else %}
        {{ lastScreen() }}
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
