@import 'o-colors/main';

$font-sans: MetricWeb, sans-serif;
$font-serif: Georgia, serif;
$font-display: FinancierDisplayWeb, Georgia, serif;


.level {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #fff1e0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &[data-level="cycle"] {
    background-image: url(https://ig.ft.com/static/on-your-marks/assets-1/images/cycle-bg.jpg);
  }

  &[data-level="swim"] {
    background-image: url(https://ig.ft.com/static/on-your-marks/assets-1/images/swim-bg.jpg);
  }

  &[data-level="sprint"] {
    background-image: url(https://ig.ft.com/static/on-your-marks/assets-1/images/sprint-bg.jpg);
  }

  &__complete {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    min-width: 280px;
    min-height: 200px;
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }

  &__state {
    margin: 0 auto;
    text-align: center;;

    &[data-state="false-start"] {
      background-color: red;
      color: white;
    }

    &[data-state="normal-start"] {
      background-color: blue;
      color: white;
    }

    &[data-state="no-start"] {
      background-color: black;
      color: white;
    }
  }

  &__comparison {
    text-align: center;
    min-height: 120px;
  }

}

.next-level-button {
  display: block;
  width: 100%;
  max-width: 400px;
  position: relative;
  padding-top: 35.5%;
  margin: 0 auto;
  overflow: hidden;
  p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: left;
    padding: 5px;
  }
  img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__target {
    position: absolute;
    display: inline-block;
    left: 5px;
    bottom: 5px;
    border: 1px solid white;
    color: white;
    padding: 8px 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.countdown-status {
  color: white;
  font-weight: bold;
}

.clock {
  display: block;
  width: 360px;
  margin: 40px auto;
  text-align: right;
  background-color: #050505;
  border: 1px solid black;
  color: yellow;
  font-family: monospace;
  padding: 0 16px;
  font-size: 38px;
  box-sizing: border-box;
  overflow: auto;

  &__display {
    background-color: #191919;
    border: 1px solid black;
    margin: 16px 0;
    padding: 4px;
  }
}

body {
  @include oColorsFor(page, background);
  margin: 0;
  border: 0;
  font-family: $font-sans;
}

.o-header{
  &--light {
    border-bottom: 1px solid #e9decf;
  }
}

$share-button-size: 38px;
.o-share--muted {
  .o-share__action {
    line-height: $share-button-size;

    a {
      width: $share-button-size;
      &:hover {
      }
    }

    i {
      width: $share-button-size;
      height: $share-button-size;
      text-indent: $share-button-size;
      border: 1px solid #e9decf;
      &:hover {
        opacity: 1;
        background-color: #e9decf;
      }
    }

    &--twitter i {
      background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTMgLTEwMyA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS04MS44NjItODkuNzg2Yy0uODIuMzU3LTEuNy42LTIuNjI0LjcwOC45NDMtLjU1NiAxLjY2OC0xLjQzNiAyLjAxLTIuNDgzLS44ODMuNTEtMS44NjIuODgtMi45MDIgMS4wOC0uODMzLS44Ny0yLjAyLTEuNDItMy4zMzctMS40Mi0yLjUyMyAwLTQuNTcgMi4wMS00LjU3IDQuNDkgMCAuMzUuMDQuNjkuMTE4IDEuMDItMy44LS4xOS03LjE2Ny0xLjk3OC05LjQyLTQuNjktLjM5NC42Ni0uNjIgMS40My0uNjIgMi4yNiAwIDEuNTUuODA3IDIuOTMgMi4wMzMgMy43My0uNzUtLjAyNS0xLjQ1NC0uMjI4LTIuMDctLjU2di4wNTRjMCAyLjE3NiAxLjU3MyAzLjk5IDMuNjY3IDQuNC0uMzg0LjEwNC0uNzkuMTYtMS4yMDQuMTYtLjMgMC0uNTgtLjAyNy0uODYtLjA4LjU4IDEuNzgyIDIuMjcgMy4wOCA0LjI3IDMuMTE2LTEuNTcgMS4yMDUtMy41NCAxLjkyMy01LjY4IDEuOTIzLS4zNyAwLS43NC0uMDI2LTEuMDktLjA2NyAyLjAyIDEuMjcyIDQuNDIgMi4wMTUgNyAyLjAxNSA4LjQgMCAxMy02Ljg0IDEzLTEyLjc3IDAtLjE5NC0uMDA3LS4zOS0uMDE4LS41OC44OS0uNjMzIDEuNjY1LTEuNDI1IDIuMjgtMi4zMjV6Ii8+PC9zdmc+)
    }

    &--facebook i {
      background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTQgLTEwNSA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS05Ny05MS40NHYyLjk1aC0yLjE3djMuNjJILTk3djEwLjcyaDQuNDN2LTEwLjcyaDNzLjI2LTEuNzMuNC0zLjYyaC0zLjM4di0yLjQ3YzAtLjM3LjUtLjg3Ljk2LS44N2gyLjQzdi0zLjc1aC0zLjI4Yy00LjY2IDAtNC41NSAzLjYzLTQuNTUgNC4xNnoiLz48L3N2Zz4=)
    }
  }
}

.article {
  &-head {
    margin-top: 18px;
    margin-bottom: 18px;
    .o-share--vertical {
      float: right;
      .o-share__action {
        margin: 0 0 0 5px;
        a,
        a:first-child {
          padding-top: 0;
          padding-bottom: 5px;
        }
      }
    }
  }

  &-body {
    & > :not(.graphic) {
      max-width: 625px;
      margin: 1em auto;
      padding: 0 0.75em;
    }
  }
}

html.game-on {
  &, body {
    overflow: hidden;
  }

  body > *:not(.game) {
    display: none;
  }
}

.game {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background: black center center;
  background-size: cover;
  z-index: 2;
  color: white;

  &[aria-hidden=true] {
    display: none;
  }

  a {
    color: white;
  }

  header {
    background: rgba(#666, 0.8);
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__panel {
    background: rgba(#888, 0.8);
    display: none;
    width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 24px;

    &--intro {
      .game--unplayed & { display: block; }
    }

    &--button {
      .game--playing & { display: block; }
    }

    &--clock {
      .game--playing & { display: block; }
    }

    &.ambient {
      .game--playing & {
        display: block;
        background-color:red;
      }
    }

    &.presignal {
      .game--playing & {
        display: block;
        background-color:orange;
        transition: background-color 0.1s;
      }
    }

    &.signal {
      .game--playing & {
        display: block;
        background-color:orange;
        transition: background-color 0.1s;
      }
    }

    &.set {
      .game--playing & {
        display: block;
        background-color:yellow;
        transition: background-color 0.1s;
      }
    }

    &.roar {
      .game--playing & {
        display: block;
        background-color:green;
        transition: background-color 0.1s;
      }
    }

    &--result {
      .game--played & { display: block; }
    }
  }

  &__race-button {
    text-align: center;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: none;
    background-color: #0363b7;
    margin: 40px auto;
    font-size: 60px;
  }
}

.play-button-wrapper {
  text-align: center;
}
  .loading-indicator {

  }
  .play-game-button {
    display: none;
  }

$icon-width: 72px;
$icon-height: 72px;

ul.level-icons {
  list-style-type: none;
  text-align: center;

  li {
    display: inline;
    padding: 0 6px 5px;
  }
  i {
    display: inline-block;
    width: $icon-width;
    height: $icon-height;
    border: 1px solid black;
    border-radius: 48px;
    &.cycle {
      background: url(https://ig.ft.com/static/on-your-marks/assets-1/icons/cycle.svg) no-repeat center 3px;
    }
    &.swim {
      background: url(https://ig.ft.com/static/on-your-marks/assets-1/icons/swim.svg) no-repeat center center;
    }
    &.sprint {
      background: url(https://ig.ft.com/static/on-your-marks/assets-1/icons/sprint.svg) no-repeat center center;
    }
  }
}
